/* Thanks to: http://callmenick.com/2014/04/22/various-css-input-text-styles/ */

.style-inputtext input {
  padding: 10px;
  border: solid 5px #c9c9c9;
  transition: border 0.3s;
  border-radius: 10px;
}
.style-inputtext input:focus,
.style-inputtext input.focus {
  border: solid 5px #969696;
}

.login-row {
	clear:both;
	margin: 20px auto 20px auto;
}

.login-box {
	text-align: center;
	width:300px;
	height:250px;
	clear:both;
	background:#E5E4E2;
	margin:0 auto;
	/*padding:40px auto auto auto;*/
	margin-top: 40px;
	border-style: solid;
	border-color: #5C6161;
	border-radius: 10px;
}


.exernal-content {
	width:100%;
  height:400px;
}
